h1 {
    text-align: center;

}

h2 {
    text-align: center;
}

body {
    background-color: bisque;
}

p { 
    text-align: center;
}

.focus, .break {
    display: flex;
    flex-direction: column;  
    align-items: center;    
    margin: 20px 0;
}

.focus button, .break button {
    margin: 5px; 
}